@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2339618d' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
  color: #000;
  font-family: Montserrat, sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.cirkel-container {
  position: relative;
  overflow: visible;
  grid-column: 1/4;
  grid-row: 1/4;
}
.buitencirkel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: hsl(293, 100%, 50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.binnencirkel {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #ebebeb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gegevens-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.temperatuur {
  font-size: 2.75rem;
  font-weight: 400;
}
